/* .capaAdelante{ 
    position:absolute;
    z-index:1;
}
.capaAtras{
    position:absolute;
    z-index:0;
} */
.fondo {
    background-image: url(../images/image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 543px;
}

.colorTransparente {
    background-color: rgba(0, 0, 0, 0.5);
}

/* CSS PAGINA DE REGISTRO */

.registerBackground {
    height: 100vh;
    background: linear-gradient(to bottom, rgb(38,175,201) 0%,rgb(38,175,201) 50%,#ffffff 50%,rgb(255, 255, 255) 50%,rgb(255, 255, 255) 100%);
 }

 .tamañoImagenLogoRegister{
    width: 20%;
}

.fondoAzul {
    background-color:  rgb(38,175,201);
}

.textoAzul {
    color:  rgb(38,175,201);
}


.fondoAzul {
    background-color:  rgb(168, 168, 168);
}

.negrita {
    font-weight: bold;
}

.homeCiudadano {
    height: 75vh;
    background-color: lightgray;
}

.elemento1Max {
    height: 75vh;
}
.elemento2Max {
    height: 25vh;
    border-radius: 2vh;
    background-color: black;
}

.divImagenBasura {
    height: 100%;
}

.imagenBasura { 
    height: 100%;
}

.fondoMapa {
    height: 85%;
    margin: 5%;
    width: 90%;
    border: 2vh solid gray;
    border-radius: 2vh;
}